#beckend
desktop.ini
backend/EmployeesManagerApp/HELP.md
backend/EmployeesManagerApp/target/
backend/EmployeesManagerApp/src/main/**/target/
backend/EmployeesManagerApp/src/test/**/target/
backend/EmployeesManagerApp/src/test/**/target/
backend/EmployeesManagerApp/.mvn/wrapper/maven-wrapper.jar
backend/EmployeesManagerApp/.apt_generated
backend/EmployeesManagerApp/.classpath
backend/EmployeesManagerApp/.factorypath
backend/EmployeesManagerApp/.project
backend/EmployeesManagerApp/.settings
backend/EmployeesManagerApp/.springBeans
backend/EmployeesManagerApp/.sts4-cache
backend/EmployeesManagerApp/.vscode/
#backend/EmployeesManagerApp/.gitignore

#frontend
frontend/employee-manager-ui/dist/
frontend/employee-manager-ui/tmp/
frontend/employee-manager-ui/bower_components/
frontend/employee-manager-ui/node_modules/
frontend/employee-manager-ui/.env*
frontend/employee-manager-ui/.pnp*
frontend/employee-manager-ui/.sass-cache
frontend/employee-manager-ui/.eslintcache
frontend/employee-manager-ui/connect.lock
frontend/employee-manager-ui/coverage/
frontend/employee-manager-ui/libpeerconnection.log
frontend/employee-manager-ui/npm-debug.log*
frontend/employee-manager-ui/testem.log
frontend/employee-manager-ui/yarn-error.log
frontend/employee-manager-ui/.node_modules.ember-try/
frontend/employee-manager-ui/bower.json.ember-try
frontend/employee-manager-ui/package.json.ember-try
frontend/employee-manager-ui/.vscode/
#frontend/employee-manager-ui/.gitignore

